$primary: #3b3381 !default;
$secondary: #ff8c32 !default;
$info: #dddddd !default;
$white: #ffffff !default;
$black: #121212 !default;
$green: green !default;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 740px;
$breakpoint-laptop: 1360px;
